{% extends 'site-base.html' %}

{% block content %}
  
  <div class="row">
    <div class="col col-50">
      <div class="panel">
        <h2>Current Advertisements <a href="/ad/create/"><small>(create new)</small></a></h2>
        {% for ad in ads %}
          <h3><a href="/ad/{{ ad.id }}/">{{ ad.name }}: {{ ad.description }}</a></h3>
        {% endfor %}
      </div>
    </div>

    <div class="col col-50">
      <div class="panel">
        <h2>All Newspapers <a href="/newspaper/create/"><small>(create new)</small></a></h2>
        {% for newspaper in newspapers %}
          <h3><a href="/newspaper/{{ newspaper.id }}/">{{ newspaper.name }}</a></h3>
        {% endfor %}
      </div>
    </div>
  </div>
  
{% endblock %}