{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}Ad Tracker{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>


  <div class="header">
    <h1><a href="/">Ad Tracker</a></h1>
    <div class="header-nav">
      {% block menu %}
        <ul>
          <li>
            <a href="/">Current Ads</a>
          </li>
          <li>
            <a href="/ad/archive">Archive</a>
          </li>
          <li>
            <a class="menu-button" href="/accounts/logout">Log Out</a>
          </li>
        </ul>
      {% endblock %}
    </div>
  </div>

  <div class="wrapper">

    {% block content %}
      <h1>Ad Tracker content.</h1>
    {% endblock %}

  </div>
    
  <script src="{% static 'js/jquery-2.1.1.min.js' %}"></script>
  <script src="{% static 'js/d3.min.js' %}"></script>
  <script src="{% static 'js/scripts.js' %}"></script>

</body>
</html>