{% extends 'site-base.html' %}

{% block content %}

{% if user.is_authenticated %}
  
  <div class="row">

    <div class="col col-60 centered">
      <div class="panel">
        <h2>Delete: {{ ad.name }}</h2>
        <div class="panel-inner">
          <p>This is a permanent action. Do you wish to delete this advertisement?</p>
          <p><a href="/ad/delete/{{ ad.id }}/">Yes. Delete {{ ad.name }} advertisement.</a></p>
        </div> 
      </div>      
    </div>
  </div>

{% endif %}
  
{% endblock %}