{% extends "site-base.html" %}

{% block content %}
  
  <div class="row">
    <div class="col col-60 centered">
      <div class="panel">
        <h2>Edit Advertisement</h2>
        <div class="panel-inner">
          
          <form action="/ad/edit/{{ ad.id }}/" method="post">
            {% csrf_token %}
            
              {{ form }}
            
            <input type="submit" value="Save Changes">
            {{ form.error }}
          </form>

        </div>
      </div>
    </div>
  </div>
  
{% endblock %}