{% extends 'site-base.html' %}

{% block content %}

{% if user.is_authenticated %}
  
  <div class="row">
    
    <div class="col col-60">
      <div class="panel">
        <h2>Newspaper: {{ newspaper.name }} <a href="/newspaper/edit/{{ newspaper.id }}/">edit</a></h2>
        <div class="panel-inner">
          <p><strong>City:</strong>&nbsp;&nbsp;{{ newspaper.city }}</p>
          <p><strong>State:</strong>&nbsp;&nbsp;{{ newspaper.state }}</p>
          <hr>
          <p><strong>Contact Name:</strong>&nbsp;&nbsp;{{ newspaper.contact_name }}</p>
          <p><strong>Contact Phone:</strong>&nbsp;&nbsp;{{ newspaper.contact_phone }}</p>
          <p><strong>Contact Email:</strong>&nbsp;&nbsp;{{ newspaper.contact_email }}</p>
        </div>
      </div>
      {% if not ads %}
        <p><a href="/newspaper/confirm_delete/{{ newspaper.id }}/">Delete newspaper</a></p>
      {% endif %}
    </div>

    <div class="col col-40">
      <div class="panel">
        <h2>Advertisements</h2>
          {% for ad in ads %}
            <h3><a href="/ad/{{ ad.id }}/">{{ ad.name }}</a></h3>
          {% endfor %}  
      </div>
    </div>

  </div>

{% endif %}

{% endblock %}