{% extends "site-base.html" %}

{% block menu %}
  <ul>
    <li>
      <a class="menu-button" href="/login/">Log In</a>
    </li>
  </ul>
{% endblock %}

{% block content %}
  
  <div class="row">
    <div class="col col-50 centered">
      <div class="panel">
        
        <h2>You have registered successfully.</h2>
        <div class="panel-inner">
          <p class="login-text">Click <a href="/login/">here</a> to log in.</p> 
        </div>

      </div>
    </div>
  </div>
  
{% endblock %}